@model ChatApp.Models.ChatAppModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ChatAppModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.korisnik_ime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.korisnik_ime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.korisnik_korisnicko_ime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.korisnik_korisnicko_ime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.korisnik_sifra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.korisnik_sifra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.korisnik_email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.korisnik_email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.korisnik_logo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.korisnik_logo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.korisnik_status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.korisnik_status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.korisnikID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
